.nav-link {
  text-decoration: none; /* Remove sublinhado do texto */
  color: rgb(255, 255, 255); /* Define a cor do texto */
  font-weight: bold; /* Define a espessura da fonte */
  padding: 5px 10px; /* Define o espaçamento interno */
  border-radius: 5px; /* Define o raio dos cantos do elemento */
  background-color: rgb(236, 112, 147); /* Define a cor de fundo */
}

.nav-link:hover {
  background-color: rgb(236, 173, 223); /* Define a cor de fundo ao passar o mouse */
  color: rgb(0, 0, 0); /* Define a cor do texto ao passar o mouse */
}
